In [1]:
import os
import datetime
import h5py
import numpy as np
import imageio
import matplotlib.pyplot as plt
from matplotlib.colors import LogNorm

from databroker import Broker
from eiger_io.fs_handler import EigerHandler

In [2]:
db = Broker.named('chx')
db.reg.register_handler('AD_EIGER2', EigerHandler, overwrite=True)

In [3]:
def save_hdf5(data, filename='data.h5', dataset='dataset', save_dir=None):
    """Saving data to an hdf5 file.
        
        Parameters
        ----------
        data: ndarray
            data array to save into hdf5 file
        filename: str
            the name of the file
        dataset: str
            the name of the entry in the hdf5 layout
        save_dir: None or str
            a directory to save the file in
        
        Returns
        -------
        status: str
            a status string
    """
    if save_dir:
        filename = os.path.join(save_dir, filename)
    h5f = h5py.File(filename, 'w')
    r = h5f.create_dataset(dataset, data=data)
    status = '{} created: {}'.format(r, os.path.abspath(filename))
    h5f.close()
    return status

# Get data from Eiger detector

In [4]:
eiger_uid = 'f4fe7c'
hdr_eiger = db[eiger_uid]  # 'eiger4m_single_image' field for hdr.data()
time_e = datetime.datetime.fromtimestamp(timestamp=hdr_eiger['start']['time']).strftime('%Y%m%d%H%M')
uid_e = hdr_eiger['start']['uid']
scan_id_e = hdr_eiger['start']['scan_id']
print(f'time: {time_e}\nuid: {uid_e}\nscan_id: {scan_id_e}')

time: 201707312119
uid: f4fe7c56-3c23-4445-8bec-9a373066ead2
scan_id: 5068

In [5]:
hdr_eiger.table()

,time,eiger4m_single_image,eiger4m_single_stats1_total,eiger4m_single_stats2_total,eiger4m_single_stats3_total,eiger4m_single_stats4_total,eiger4m_single_stats5_total
seq_num,,,,,,,
1,2017-07-31 21:21:58.409980,aee074a3-2e4e-4295-854c-da0b7f919853,648629050.0,252040143.0,8.590173e+10,2.576998e+10,2.130496e+15

In [6]:
hdr_eiger.fields()

{'eiger4m_single_image',
 'eiger4m_single_stats1_total',
 'eiger4m_single_stats2_total',
 'eiger4m_single_stats3_total',
 'eiger4m_single_stats4_total',
 'eiger4m_single_stats5_total'}

### Use the field with an '_image' occurrence

In [7]:
imgs_eiger = list(hdr_eiger.data('eiger4m_single_image'))

filepath : /XF11ID/data/2017/07/31/5c06c4d9-3743-4873-8ea9
got images_per_file

In [8]:
imgs_eiger[0].shape

(2167, 2070)

In [9]:
%matplotlib widget
plt.imshow(imgs_eiger[0][0], cmap='viridis', norm=LogNorm())

FigureCanvasNbAgg()

# Get data from xray eye camera

In [10]:
xeye_uid = '44aae6fe'
hdr_xeye = db[xeye_uid]  # 'xray_eye3_image' field for hdr.data
time_x = datetime.datetime.fromtimestamp(timestamp=hdr_xeye['start']['time']).strftime('%Y%m%d%H%M')
uid_x = hdr_xeye['start']['uid']
scan_id_x = hdr_xeye['start']['scan_id']
print(f'time: {time_x}\nuid: {uid_x}\nscan_id: {scan_id_x}')

time: 201801201715
uid: 44aae6fe-70b7-4fbf-a4ed-2297ea6b725f
scan_id: 10836

In [11]:
hdr_xeye.table()

,time,xray_eye3_stats1_total,xray_eye3_stats2_total,xray_eye3_stats3_total,xray_eye3_stats4_total,xray_eye3_stats5_total,xray_eye3_image
seq_num,,,,,,,
1,2018-01-20 17:17:00.270831,125698.0,64832.0,237824.0,18878.0,11772860.0,04de934d-9daa-4c1f-8890-4a9a4d55744e

In [12]:
hdr_xeye.fields()

{'xray_eye3_image',
 'xray_eye3_stats1_total',
 'xray_eye3_stats2_total',
 'xray_eye3_stats3_total',
 'xray_eye3_stats4_total',
 'xray_eye3_stats5_total'}

### Use the field with an '_image' occurrence

In [13]:
imgs_xeye = list(hdr_xeye.data('xray_eye3_image'))

In [14]:
imgs_xeye[0].shape

(100, 2050, 2448)

In [15]:
%matplotlib widget
plt.imshow(np.mean(imgs_xeye[0], axis=0), cmap='gray')

FigureCanvasNbAgg()

# Get tabular data

In [16]:
hdr_tab = db['635f98ba']

In [17]:
tbl = hdr_tab.table()
tbl

,time,mca_xs_channel1_rois_roi01_value,mca_xs_channel1_rois_roi01_value_sum,smp_y,smp_y_setpoint,smp_y_actuate
seq_num,,,,,,
1,2018-01-20 16:56:52.655752,8852.950130,8852.950130,1.63200,1.632000,1
2,2018-01-20 16:56:54.752364,9455.684040,9455.684040,1.63407,1.634069,1
3,2018-01-20 16:56:56.320527,9188.674397,9188.674397,1.63614,1.636138,1
4,2018-01-20 16:56:58.668509,9684.293795,9684.293795,1.63821,1.638207,1
5,2018-01-20 16:57:01.070926,10320.926364,10320.926364,1.64028,1.640276,1
6,2018-01-20 16:57:02.616491,11229.173725,11229.173725,1.64234,1.642345,1
7,2018-01-20 16:57:07.248679,11389.695753,11389.695753,1.64441,1.644414,1
8,2018-01-20 16:57:10.695743,12590.483663,12590.483663,1.64648,1.646483,1
9,2018-01-20 16:57:14.327309,16611.346002,16611.346002,1.64855,1.648552,1
10,2018-01-20 16:57:20.603425,20751.495839,20751.495839,1.65062,1.650621,1
11,2018-01-20 16:57:25.915176,25207.733610,25207.733610,1.65269,1.652690,1
12,2018-01-20 16:57:27.634732,38616.633253,38616.633253,1.65476,1.654759,1
13,2018-01-20 16:57:31.626734,79980.406192,79980.406192,1.65683,1.656828,1
14,2018-01-20 16:57:33.480865,155312.266491,155312.266491,1.65890,1.658897,1
15,2018-01-20 16:57:35.916922,227985.963766,227985.963766,1.66097,1.660966,1
16,2018-01-20 16:57:37.890037,256689.802487,256689.802487,1.66303,1.663034,1
17,2018-01-20 16:57:39.938619,215936.465360,215936.465360,1.66510,1.665103,1
18,2018-01-20 16:57:42.086255,136271.719730,136271.719730,1.66717,1.667172,1
19,2018-01-20 16:57:53.622662,73234.905911,73234.905911,1.66924,1.669241,1
20,2018-01-20 16:57:58.384996,39155.733105,39155.733105,1.67131,1.671310,1
21,2018-01-20 16:58:00.092883,28484.735369,28484.735369,1.67338,1.673379,1
22,2018-01-20 16:58:02.589288,24366.672081,24366.672081,1.67545,1.675448,1
23,2018-01-20 16:58:04.892483,19999.373753,19999.373753,1.67752,1.677517,1
24,2018-01-20 16:58:08.038970,16928.130224,16928.130224,1.67959,1.679586,1
25,2018-01-20 16:58:09.778661,16430.150998,16430.150998,1.68166,1.681655,1
26,2018-01-20 16:58:11.927914,15745.416235,15745.416235,1.68372,1.683724,1
27,2018-01-20 16:58:13.620725,14326.177558,14326.177558,1.68579,1.685793,1
28,2018-01-20 16:58:15.724333,14398.289874,14398.289874,1.68786,1.687862,1
29,2018-01-20 16:58:17.358957,14171.370792,14171.370792,1.68993,1.689931,1
30,2018-01-20 16:58:23.899721,14099.434124,14099.434124,1.69200,1.692000,1

In [18]:
tbl.plot(x='smp_y', y='mca_xs_channel1_rois_roi01_value_sum', grid=True)

FigureCanvasNbAgg()

In [19]:
tbl.to_csv('/home/mrakitin/work/CHX/exported.csv')

# Save Eiger data to TIFF and HDF5 files

In [20]:
filename = '{}_{}_{}'.format(time_e, eiger_uid, scan_id_e)
filename_tiff= '{}.{}'.format(filename, 'tiff')
filename_h5 = '{}.{}'.format(filename, 'h5')
print(filename_tiff)
print(filename_h5)

201707312119_f4fe7c_5068.tiff
201707312119_f4fe7c_5068.h5

In [21]:
imageio.imwrite(os.path.join('/home/mrakitin/work/CHX/', filename_tiff), imgs_eiger[0][0])

In [22]:
status = save_hdf5(imgs_eiger, filename=filename_h5, dataset='dataset',
                   save_dir='/home/mrakitin/work/CHX/')
print(status)

<HDF5 dataset "dataset": shape (1, 1, 2167, 2070), type "<u4"> created: /home/mrakitin/work/CHX/201707312119_f4fe7c_5068.h5